
<h2 class="text-center mt-4">Product List</h2>
<table class="table table-secondary table-hover table-bordered border-secondary table-striped">
<thead>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
        <th>View Details</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor = "let product of products">
        <td>{{product.id}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <td>
            <button (click)="updateProduct(product.id)" class="btn btn-secondary ">Update</button>
        </td>
        <td>
            <button (click)="deleteProduct(product.id)" class="btn btn-danger ">Delete</button>
        </td>
        <td>
            <button (click)="viewProduct(product.id)" class="btn btn-primary">View</button>
        </td>

    </tr>
</tbody>    

</table>